.container{
  width: 100%;
  margin: -20px 0 0 0;
  padding: 0;
}

.hero img {
  border-radius:0;
}

aside.left {
  text-align: center;
  float:none;
}

aside.right {
  text-align: center;
  float:none;
}


