/*
 * General Styles
*/


body {
   background: url('../images/bg.jpg');
  font-family: 'Open Sans', arial, sans-serif;
}


* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

p {
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 1.75rem;
}

strong {
  font-weight: bold;
}

ul li {
  list-style: decimal inside;
}

/*
 * Heading Styles
*/


h1, h2 {
  font-family: 'Lobster', cursive;
  color: #e22f8f;
  text-align: center;
  margin-bottom: 2rem;
}

h1 {

  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

/*
 * Container Styles
*/

.container {
  width: 37.5rem;
  margin: 6.25rem auto;
  border-radius:1.25rem 1.25rem 0 0;
}

.hero img {
  width:100%;
  height:75%;
  border-radius:1.25rem 1.25rem 0 0;
}

section {
  padding: 2.5rem;
}

section.hero {
  padding: 0px;
  line-height: 0;
}

section.intro {
  background: #fff;
}

section.left {
  float:left;
}

section.right {
  float:right;
}

.right img {
  width:60%;
  margin-left: 50px;
}

.left img {
  width:75%;
  margin-left: 50px;
}

aside {
  margin-right:1.5rem;
  margin-bottom: 0.625rem;
}

iframe{
  width:600px;
  margin: -39px 0 0 -40px;
}

section.contact {
  background: #DDD;
}

section.sneha {
  background: #fff;
}

.sneh img {
  width:85%;
  margin-left: 18px;
}

section.gattu {
  background: #DDD;
}

.gatt img {
  width:85%;
  margin-left: 18px;
}
